#### Variables en Python
* Nombres de variables
* Operadores matemáticos
* Ingreso de datos
* Mostrar datos al usuario

In [7]:
# suma
23 + 45

68

In [8]:
# resta
34 - 45

-11

In [9]:
# multipliación
34 * 32

1088

In [10]:
# división
34 / 2

17.0

In [12]:
# trabajo con variables
number_1 = 12
number_1

12

In [13]:
number.2 = 23

SyntaxError: invalid syntax (1411637686.py, line 1)

In [14]:
number-one = 23

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2351799057.py, line 1)

In [15]:
first name = "july"

SyntaxError: invalid syntax (2964913166.py, line 1)

In [16]:
FirstName = "july"

In [17]:
first_name = "july"

In [19]:
number_1 = 10

In [20]:
number_2 = 20

# sumar dos números
total = number_1 + number_2

print(total)

30

In [23]:
print(f"El resultado es: {total}")

El resultado es: 30

In [33]:
number_1 = input("número 1: ")
number_1 = float(number_1)

number_2 = float( input("número 2: ") )

total_2 = number_1 + number_2

print(total_2)

34.599999999999994

In [27]:
print(total_2)

33

#### operadores de comparación
*  ">" mayor que
*  "<"
*  ">="
*  "<="
*  "=="
*  "!="

In [34]:
3 > 5

False

In [35]:
1 < 2

True

In [36]:
"july" == "oooo"

False

In [37]:
number_1 != number_2

True

In [40]:
print(number_1)
print(number_2)

11.2
23.4

In [38]:
12.4 == number_1

False

In [43]:
# condicionales encadenados
week_day = input("Day:")

if week_day == "lunes":
    print("Voy al trabajo")

elif week_day == "martes":
    print("Duermo")

elif week_day == "miércoles":
    print("Duermo")

else:
    print("Ingreso un día válido")

no es domingo

In [ ]:
# condicionales anidados
week_day = input("Day:")
hora_aprox = input("Hora estimada: ")

if week_day == "lunes":
    
    if hora_aprox == "mañana":
        print("Lunes en la mañana")
    elif hora_aprox == "tarde":
        print("Lunes en la tarde")
    else:
        print("Lunes en la noche")

elif week_day == "martes":
    print("Duermo")

elif week_day == "miércoles":
    print("Duermo")

else:
    print("Ingreso un día válido")

In [44]:
# listas
[1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [45]:
["lunes", "martes", "miércoles"]

['lunes', 'martes', 'miércoles']

In [47]:
numbers_list = [1, 3, 5, 7, 9]
print(numbers_list)

[1, 3, 5, 7, 9]

In [49]:
letters = ["A", "B", "C", "D"]

In [71]:
lista_letras = ["A", "B", "C", "D"]

In [55]:
letras[-1]

'D'

In [67]:
# start:step:stop
letras[:3:2]

['A', 'C']

In [65]:
# start:step:stop
letras[0:1:4]

['A']

In [75]:
# ciclos
for letra in lista_letras:
    letra_busqueda = "j"
    if letra == letra_busqueda:
        print(f"hay una {letra_busqueda}")
    else:
        print(f"No hay {letra_busqueda}")

No hay j
No hay j
No hay j
No hay j

In [81]:
for value in range(1,8):
    print(value)

1
2
3
4
5
6
7